body {margin: 0;padding: 0;}

.left-aside {
  /* BEGIN (write your solution here) */
  float: right;
  /* END */
  width: 20%;
  height: 200px;

  background: #2196F3;

  text-align: center;
}

.right-aside {
  /* BEGIN (write your solution here) */
  
  /* END */
  width: 20%;
  height: 200px;

  background: #2196F3;

  text-align: center;
}

main {
  /* BEGIN (write your solution here) */
  float: right;
  /* END */
  width: 60%;
  height: 200px;

  background: #3F51B5;
  color: #FFF;

  text-align: center;
}

footer {
  /* BEGIN (write your solution here) */
  clear: both;
  /* END */
  height: 120px;

  background: #00BCD4;
  color: #FFF;

  text-align: center;
}
