.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* BEGIN (write your solution here) */
  position: absolute;
  top:0px;
  left: 0px;
  opacity: 0,5;
  /* END */
}

.circle-blue {
  /* BEGIN (write your solution here) */
  background-color: blue;
  z-index: 2;
  /* END */
}

.circle-red {
  /* BEGIN (write your solution here) */
  background-color: red;
  z-index: 1;
  /* END */
}
